* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  height: 50px;
  width: 50px;
  margin-left: 25px;
  border: 5px solid gray;
  border-left-color: orangered;
  border-bottom-color: orangered;
  border-radius: 50%;
  animation: shougot 600ms infinite linear;
}

@keyframes shougot {
  to {
    transform: rotate(1turn);
  }
}
